.App {
  text-align: center;
}

:root {
  --primary-color: #4a4e69;
  --secondary-color: #9a8c98;
  --tertiary-color: #f2e9e4;
  --black-color: #22223b;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: var(--tertiary-color, white);
  color: var(--black-color, black);
}

.button {
  color: var(--black-color, black);
  background-color: var(--secondary-color, grey);
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
