.App {
  text-align: center;
}

:root {
  --primary-color: #667761;
  --secondary-color: #545e56;
  --tertiary-color: #b79492;
  --white-color: #eae1df;
  --black-color: #22223b;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: var(--tertiary-color, brown);
  color: var(--black-color, black);
}

.button {
  color: var(--black-color, black);
  background-color: var(--tertiary-color, brown);
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
